/* CategoryCard.css */
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: calc(100% - 80px); /* Ajuste para el ancho considerando el padding */
  height: 500px;
  max-width: 100%; /* O un máximo que prefieras */
  box-sizing: border-box; /* Asegura que el padding no añada al ancho total */
  margin: auto; /* Centra el elemento horizontalmente */
  position: absolute; /* Posicionamiento absoluto */
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajuste fino del centrado */
  overflow: hidden; /* Evita que el contenido se salga de la caja */
}

.category-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.category-card button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #689c4c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.category-card button:hover {
  background-color: #4e7b35;
}

h4 {
  text-align: center;
}
