/* Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animated-button {
  background-color: white;
  border: none;
  color: #0f9b0f;
  padding: 1rem 2rem;
  width: 250px;
  margin: 0.5rem;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.animated-button:hover {
  background-color: #0f9b0f;
  color: white;
}
